body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #0B0F14;
}

*,
a {
  color: #E6EDF3;
}

.container-main {
  display: grid;
  align-items: flex-start;
  justify-content: flex-start;
  grid-template-columns: 2fr 3fr;
  max-width: 1200px;
  margin: 0 auto;
}

.container-main .container-header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  position: sticky;
  height: 100vh;
  gap: 60px;
  top: 0;
}

.container-main .container-header .about-me {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.container-main .container-header .about-me .title {
  font-size: 30px;
}

.container-main .container-header .about-me .title span {
  font-size: 15px;
  font-weight: 500;
}

.container-main .container-header .about-me .job {
  font-size: 20px;
  font-weight: 800;
}

.container-main .container-header .about-me .desc {
  font-size: 18px;
  opacity: 50%;
  line-height: 1.5;
}

.container-main .container-header .container-links {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.container-main .container-header .container-links .link {
  font-size: 15px;
  text-transform: uppercase;
  transition: 0.1s;
}

.container-main .container-header .container-links .link:hover {
  transition: 0.1s;
  opacity: 10%;
}

.container-main .social-links {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}

.container-main .social-links li a {
  transition: 0.1s;
  font-size: 24px;
  opacity: 60%;
}

.container-main .social-links li a:hover {
  transition: 0.1s;
  opacity: 10%;
}


.container-main .container-details {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 30px 100px;
  gap: 60px;
}

.container-main .container-details .container-about {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.container-main .container-details .container-about p {
  font-size: 16px;
  line-height: 1.5;
  opacity: 80%;
}

.container-main .container-details .container-projects {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.container-main .container-details .container-projects .container-box {
  display: grid;
  align-items: start;
  grid-template-columns: 2fr 3fr;
  grid-gap: 15px;
}

.container-main .container-details .container-projects .container-box .banner {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.container-main .container-details .container-projects .container-box .details {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.container-main .container-details .container-projects .container-box .details .title {
  font-size: 18px;
  font-weight: 800;
}

.container-main .container-details .container-projects .container-box .details .title i {
  font-size: 13.5px;
  margin-left: 5px;
}


.container-main .container-details .container-projects .container-box .details .desc {
  font-size: 15px;
  line-height: 1.5;
  opacity: 50%;
}

.container-main .container-details .container-projects .link i {
  color: #3B82F6;
  margin-left: 5px;
  font-size: 13.5px;
}

.container-main .container-details .container-projects .link {
  font-size: 16px;
  font-weight: 600;
  color: #3B82F6;
}

.container-main footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #393d42;
  padding: 30px 0;
}

.container-main footer .copyright-text {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5;
}

.container-main footer .copyright-text .color {
  color: #3B82F6;
  cursor: pointer;
}

.container-main footer .top {
  background-color: #212326;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 15px;
  border: none;
}

@media (max-width: 1200px) {
  .container-main .container-header {
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .container-main {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .container-main .container-header .container-links {
    display: none;
  }

  .container-main .container-header {
    position: static;
    padding: 100px;
    height: auto;
  }

  .container-main .container-details .container-projects .container-box .banner {
    height: 150px;
  }
}

@media (max-width: 900px) {
  .container-main .container-details .container-projects .container-box .banner {
    height: 145px;
  }

  .container-main .container-header,
  .container-main .container-details {
    position: static;
    padding: 30px;
    height: auto;
  }
}

@media (max-width: 800px) {
  .container-main .container-details .container-projects .container-box .banner {
    height: 135px;
  }
}


@media (max-width: 700px) {
  .container-main .container-details .container-projects .container-box .banner {
    height: 115px;
  }
}

@media (max-width: 550px) {
  .container-main .container-details .container-projects .container-box .banner {
    height: 200px;
  }

  .container-main .container-details .container-projects .container-box {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .container-main .container-details .container-projects .container-box .banner {
    height: 170px;
  }
}